@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
  box-sizing: border-box;
}

body{
  background-color: #22254b;
  color: white;
  font-family: "Poppins",sans-serif;
  margin: 0;
}
#root{
  display: flex;
  flex-direction: column;
}
header{
  background-color: #373b69;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}
.search{
  font-family: inherit;
  font-size: 1.2rem;
  border: 2px solid #0f1022;
  border-radius: 50px;
  color: white;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  outline-style: none;

}

.movie-container{
  display: flex;
  flex-wrap: wrap;
  margin: 1rem auto;
}

.movie{
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
  margin: 1rem auto;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
  width: 250px;
}
.movie img{
  height: 350px;
  object-fit: cover;
  width: 100%;
}
.movie-info{
   display: flex;
   padding: 1rem;
   align-items: center;
   justify-content: space-between;
}
.movie-info h3{
  margin: 0;
}
.movie-over{
  background-color: #fff;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  box-shadow: 0 -3px 3px rgba(0,0,0,0.1);
  color: #22254b;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 100%;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
  opacity: 0.89;
}
.movie:hover .movie-over{
  transform: translateY(0%);
}

.tag{
  background-color: #22254b;
  border-radius: 5px;
  padding: 0.5rem;
  font-weight: bold;
}

.tag.green{
  color: rgb(32, 228, 32);
}
.tag.orange{
  color: rgb(243, 238, 189);
}
.tag.red{
  color: rgba(207, 30, 30, 0.979);  
}